<div class="container mt-5 d-flex justify-content-center">

  <section class="form-body w-75">
    <p class="secondary-title">{{ pageTitle }} Libro</p>
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <mat-grid-list [cols]="cols" [rowHeight]="rowHeight">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
          <div class="form-group grid-tile">
            <label [for]="tile.formControlName || ''">{{ tile.label }}</label>
            <ng-container *ngIf="!tile.isFileInput">
              <input [id]="tile.formControlName || ''" class="form-control" [formControlName]="tile.formControlName || ''" type="text" />
              <div *ngIf="bookForm.get(tile.formControlName || '')?.invalid && bookForm.get(tile.formControlName || '')?.touched" class="text-danger">
                {{ tile.errorMessage }}
              </div>

            </ng-container>
            <ng-container *ngIf="tile.isFileInput">
              <input id="image" type="file" (change)="onFileSelected($event)" class="form-control" />
            </ng-container>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="d-flex justify-content-end">
        <app-button
          [title]="'Atrás'" 
          [ngClass]="btnSecondary"
          (buttonClick)="navigateBack()"
        >
        </app-button>
        <app-button
          [title]="'Aceptar'" 
          [disabled]="buttonDisabled"
          [ngClass]="btn"
          type="submit">
        </app-button>
      </div>
    </form>
  </section>


</div>
